# SQL SERVER
DB_USER=CeereRIPS
DB_PASSWORD=crsoft
DB_SERVER=localhost
DB_DATABASE=Cliniq
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true

# EMAIL (ejemplo con SMTP)
SMTP_HOST=mail.xxxx.net
SMTP_PORT=xxx
SMTP_SECURE=true
SMTP_USER=correo@xxxx.net
SMTP_PASS=xxxx

# FROM
MAIL_FROM_NAME=Medimujer
MAIL_FROM_EMAIL=correomineria2@ceere.net

# HORARIO CRON (9:00 am diario)
CRON_EXPRESSION=0 9 * * *

MAIL_TO_TEST=Fernando.pala.99@gmail.com